<div class="card mb-4 p-3">
  <h4>Switch to network:</h4>
  <input
    [(ngModel)]="selected"
    [typeahead]="filteredChains"
    typeaheadOptionField="name"
    (typeaheadOnSelect)="switchNetwork($event.item.chainId)"
    [isAnimated]="true"
    class="form-control"
    placeholder="ex. Ethereum, Goerli..."
  />
  <div class="form-check form-switch py-3">
    <label class="form-check-label" for="includeTestNetwork">
      Display Test Chains
    </label>
    <input
      class="form-check-input"
      type="checkbox"
      [ngModel]="includeTest"
      (ngModelChange)="includeTestChangeHandler($event)"
      id="includeTestNetwork"
    />
  </div>
</div>
